/* #2A2537 #554176 #B698D0 #DAB694 #DBD4DC*/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
  background-color: #F9F8F8;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px; 
  text-align: center;
  height: 40px;
  /* background:#232433; */
}

.header-title {
  font-size:25px;
  font-weight: bold;
  width: 56px;
  height: 56px;
  border: #2A2537 solid 2px;
  border-radius: 50%;
  background-color: #B698D0;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title:hover {
  cursor: pointer;
}

header nav {
  font: bolder 18px 'Trebuchet MS';
  background-color: #B698D0;
  display: flex;
  gap: 30px;
  padding: 15px 20px;
  border-radius: 20px;
  border: 2px solid #2A2537;
}

.nav-button {
  display: inline-block;
  text-decoration: none;
  color: #f4f4f4;
  position: relative;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-button::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f4f4f4;
  transform: scaleX(0);
  transition: transform 0.15s ease-in-out;
}

.nav-button.active::before, .nav-button:hover::before {
  transform: scaleX(1);
}

a{
  color: #f4f4f4;
  text-decoration: none;
}

.header-contact {
  font: bolder 18px 'Trebuchet MS';
  color: #f4f4f4;
  text-decoration: none;
  background-color: #B698D0;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #2A2537;
}

.header-contact:hover {
  background-color: #DAB694;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  scroll-snap-align: start;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-socials a{
  color: black;
  font-size: 24px;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(90deg,rgba(218, 182, 148, 1) 0%, rgba(182, 152, 208, 1) 100%);
}

.hero-section img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  padding: 8px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-items:space-evenly;
  max-width: 500px;
  text-align: left;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #2A2537;
}

.resume-button {
  background-color: #B698D0;
  color: #f4f4f4;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #2A2537;
  width: fit-content;
  margin-bottom: 20px;
}

.hero-content {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #f4f4f4;
  background-color: #2A2537;
  padding: 40px;
}

.about-text {
  max-width: 600px;

}

.experience-box {
  max-width: 600px;
  background-color: #554176;
  padding: 20px;
  border-radius: 20px;
  /* border: 2px solid #7ca0c7; */
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

.skill-card {
  background-color: #554176;
  color: #f4f4f4;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-card ul li {
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.skill-card i {
  width: 24px;
  font-size: 1.2em;
  color: #DAB694;
}

.projects {
  background-color: #2A2537;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: #554176;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



